---
import IconCircle from "./CircleHolder.astro";
import About from "./icons/About.astro";
export interface Props {}

// const { href, title, body } = Astro.props;
---

<nav class="bg-[#424669] space-y-4 p-4 rounded-sm">
    <ul class="space-y-4">
        <li>
            <IconCircle>
                <About />
            </IconCircle>
        </li>
        <li>
            <IconCircle>
                <About />
            </IconCircle>
        </li>
        <li>
            <IconCircle>
                <About />
            </IconCircle>
        </li>
        <li>
            <IconCircle>
                <About />
            </IconCircle>
        </li>
        <li>
            <IconCircle>
                <About />
            </IconCircle>
        </li>
    </ul>
</nav>