---
export interface Props {
}

// const { href, title, body } = Astro.props;
---

<nav class="bg-[#424669] px-4 rounded-md">
    <ul>
        <li>
            C
        </li>
        <li>
            P
        </li>
        <li>
            W
        </li>
        <li>
            S
        </li>
        <li>
            B
        </li>
    </ul>
</div>



<style>
</style>
